* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(40, 137, 212, 0.9);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #2c10de; /* Change text color to white */
}

.form-container {
  width: 350px; /* Increase width */
  margin: 0 auto;
  padding: 40px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Change background color to white */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s ease; /* Add transition for border color */
}

.form-group input:focus {
  border-color: #4565a0; /* Change border color on focus */
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition for background color and transform */
}

.submit-btn:hover {
  background-color: #4565a0;
  transform: scale(1.05); /* Scale up on hover */
}

p {
  margin-top: 15px;
  color: #fff; /* Change text color to white */
  text-align: center; /* Center-align text */
  font-size: 14px; /* Increase font size */
}
